@{
    ViewData["Title"] = "Home Page";
    var isLoggedIn = Context.Request.Cookies.ContainsKey("AuthToken");
}


@if (isLoggedIn)
{
    <div class="animated-container-left">
        <div class="animated-text-left">
            <p>Użytkownik zalogowany, można przejść na stronę kursów walut</p>
        </div>
    </div>
    <div class="animated-container-right">
        <div class="animated-text-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
        </div>
    </div>
}
else
{
    <div class="animated-container-left">
        <div class="animated-text-left">
            <p>Zaloguj się, aby otrzymać dostęp do kursów walut<br /> Login:admin Hasło:admin123</p>
        </div>
    </div>
    <div class="animated-container-right">
        <div class="animated-text-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
        </div>
    </div>
}