@model List<LuxRecruitment.Web.Models.ExchangeRateViewModel>

@{
    ViewData["Title"] = "Kursy walut";
}
@section Styles {
    <link rel="stylesheet" href="~/css/ExchangeTable.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
}
<div class="container">
<div class="table-responsive my-4">
    <table id="exchangeTable" class="display exchange-table">
        <thead>
            <tr>
                <th>Nazwa waluty</th>
                <th>Kod waluty</th>
                <th>Kurs wymiany</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rate in Model)
            {
                <tr>
                    <td>@rate.CurrencyName</td>
                    <td>@rate.CurrencyCode</td>
                    <td>@rate.ExchangeRateValue</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#exchangeTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/pl.json"
                }
            });
        });
    </script>
}
