@section Styles {
    <link rel="stylesheet" href="~/css/FooterStyles.css" asp-append-version="true" />
}

<footer class="footer bg-dark text-white mt-auto py-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5 class="text-uppercase text-luxGreen">Lux Recruitment</h5>
                <p>Zadanie rekrutacyjne</p>
            </div>
            <div class="text-end">
                <h5 class="text-uppercase text-luxGreen">Kontakt</h5>
                <p>
                    E-mail: <a href="mailto:piotr.kotowski96@gmail.com" class="footer-link">piotr.kotowski96@gmail.com</a><br>
                    Telefon: 517 261 202
                </p>
                <div class="social-icons">
                    <a href="#" class="footer-icon"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="footer-icon"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="footer-icon"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="footer-divider" />
        <div class="text-center">
            &copy; 2024 Lux Recruitment Piotr Kotowski
        </div>
    </div>
</footer>
