
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LuxRecruitment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LuxRecruitment.Web.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FooterStyles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
    <header>
        @await Html.PartialAsync("_navbar")
    </header>
    @await Html.PartialAsync("_Carousel")
    <main role="main" class="flex-grow-1 pb-3">
            @RenderBody()
        </main>
    @await Html.PartialAsync("_Footer")
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


